
html {
	font-smooth: always;
	-webkit-font-smoothing: antialiased;
}

/**********************/
/*   MAIN CONTAINER   */
/**********************/

#rankings {
	margin-top: 50px;
}

.rankingContainer {
	background: #1192d3;
	color: #fff;
}

.rankingContainer h3 {
	font-size: 15px;
	padding: 2px 2px 2px 2px;
	color: #fff;
	margin: auto;
}

/*
.panelContainer {
	height: 700px;
	overflow: auto;
}
*/

#leaderBoardContainer, #achievementsContainer {
	height: 700px;
	overflow: auto;
}

#rank {
	height: 300px;
}



/********************/
/*   LEADERBOARDS   */
/********************/


/* Leaderboard Elements */

.leaderboardElement {
	height: 120px;
	margin: 20px 20px;
	padding: 0 20px;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.2);
	position: relative;
}

/*
.leaderboardElement.dotdotdot {
	height: 50px;
	background-color: rgba(255, 255, 255, 0.0);
}
*/

.leaderboardElement.dotdotdot p {
	text-align: center;
	font-size: 8em;
	font-family: "Georgia", sans-serif;
	transform: translateY(-18px);
}

.leaderboardElement.currentUser {
	background-color: rgba(255, 255, 255, 0.5);
}


/* Images */

.imageContainer {
	float: left;
	height: 100px;
	margin: 10px 0;
}

.leaderboardProfilePic {
	border-radius: 50%;
	height: 100px;
}

.leaderboardProfileRank {
	height: 40px;
	border-radius: 50%;
	border: 3px solid #5bb12e;
	transform: translate(-30px, 30px);
}


/* Text */

.leaderboardName {
	float: left;
	line-height: 120px;
	font-size: 2em;
	margin-left: 0px;
}

.leaderboardScore {
	float: right;
	line-height: 120px;
	font-size: 2em;
	opacity: 0.6;
}



/* Buttons */

.durationPicker {
	margin: 40px auto 0px;
	width: 400px;
	height: 30px;
	color: white;
	font-size: 2em;
}



/********************/
/*   ACHIEVEMENTS   */
/********************/

#achievementsContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 0;
}

.achievementElement {
	width: 210px;
	height: 200px;
	margin: 10px;
	padding: 5px;
	border: 1px solid white;
	border-radius: 5px;
	text-align: center;
}

.achievementIcon {
	width: 100px;
	height: 100px;
	display: block;
	margin: 0 auto;
}

.achievementElement.notAchieved img {
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
}

.achievementElement.notAchieved {
	opacity: 0.4;
}




/************/
/*   RANK   */
/************/

#rankContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100% - 41px);
}

.rank-image {
	margin: 0 7px;
}
