#gamificationWidget{
	border: thin solid #1192D3;
	border-radius: 5px;
	padding: 0,4%;
	background: #1192D3;
	overflow: hidden;
	height: 100%;
}

#widget-leaderboard {
	margin: 12px 20px 0px;
	width: 100%;
	height: 45%;
}

/*
#ContentContainer {
	overflow: hidden;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 2%;
}
*/

#Aline{
	stroke: #ffffff;
	stroke-width: 2;
}

#widget-leaderboard table {
	width: 100%;
	height:100%;
	color: white;
	margin: 0 auto;
	vertical-align: middle;
}




/*******************/
/*   WIDGET RANK   */
/*******************/

#widget-rank {
    position: relative;
    margin: 0 auto;
    display: block;
    margin-top: 10px;
    left: calc(50% - 65px);
}
  
#widget-rank img {
    vertical-align: top;
    border-radius: 50%;
    margin: 5px;
}
  
#widget-rank canvas {
    position: absolute;
}




/**********************/
/*   TIP OF THE DAY   */
/**********************/

#widget-tip-heading {
	text-decoration: underline;
	padding: 20px 20px 0;
	color: white;
	font-size: 1.3em;
}

#widget-tip {
	align-content: center;
	text-align: center;
	vertical-align: middle;
	display: table-cell;
	color: white;
	font-size: 1.8em;
	line-height: 1.3em;
	padding: 10px 30px;
}